services:
  ardupilot-sitl:
    image: radarku/ardupilot-sitl
    platform: linux/amd64
    tty: true
    environment:
      - VEHICLE=ArduSub
      - MODEL=vectored
      - PATH=/usr/local/bin:/root/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    ports:
      - 5760:5760/tcp
      - 14550:14550/udp
      - 5501:5501
      - 9002:9002
      - 9001:9001
      - 5502:5502
      - 5503:5503
    network_mode: host
    entrypoint: /bin/bash
    command: >
      -c "git checkout master && 
      if [ ! -f FIRST_RUN ]; then 
        ./waf distclean && ./waf configure --board sitl && ./waf build && touch FIRST_RUN; 
      fi &&
      ./Tools/autotest/sim_vehicle.py -N -f vectored_6dof -v ArduSub --console --model JSON:127.0.0.1"